<?php

//
// @file config.inc.php
// Server configuration directives
//

// include allowed service which can use this server
include_once('config.inc.sites.php');

// URL and authentication to query the directory (service-annuaire)
// to authenticate users (using api/sso...)
$CONFIG['API_URL'] = 'http://localhost/';
$CONFIG['API_KEY'] = 'SSO';
$CONFIG['API_PASS'] = 'sso_password';

// The URL for the external teachers AAF SSO
$CONFIG['AGENTS_AAF_SSO_URL'] = 'https://portail.ac-test.fr/sso/SSO';

// The Issuer in the SAML Request (what ever you want but must be given
// to the Idp provider to identify your SAML Sp)
$CONFIG['AGENTS_AAF_SSO_ISSUER'] = 'portail-agents';

// The public certificate of the authority that sign AAF SAML Response
$CONFIG['AGENTS_AAF_SSO_CERT'] =
'-----BEGIN CERTIFICATE-----
RXQgb2xpbSBsaWNldCBvdGlvc2FlIHNpbnQgdHJpYnVzIHBhY2F0YWVxdWUgY2VudHVyaWFlIGV0
IG51bGxhIHN1ZmZyYWdpb3J1bSBjZXJ0YW1pbmEgc2V0IFBvbXBpbGlhbmkgcmVkaWVyaXQgc2Vj
dXJpdGFzIHRlbXBvcmlzLCBwZXIgb21uZXMgdGFtZW4gcXVvdHF1b3Qgc3VudCBwYXJ0ZXMgdGVy
cmFydW0sIHV0IGRvbWluYSBzdXNjaXBpdHVyIGV0IHJlZ2luYSBldCB1YmlxdWUgcGF0cnVtIHJl
dmVyZW5kYSBjdW0gYXVjdG9yaXRhdGUgY2FuaXRpZXMgcG9wdWxpcXVlIFJvbWFuaSBub21lbiBj
aXJjdW1zcGVjdHVtIGV0IHZlcmVjdW5kdW0uDQoNCg==
-----END CERTIFICATE-----';

// The URL for the external parents AAF SSO
$CONFIG['PARENTS_AAF_SSO_URL'] = 'https://services.ac-test.fr/sso/SSO';

// The Issuer in the SAML Request (what ever you want but must be given
// to the Idp provider to identify your SAML Sp)
$CONFIG['PARENTS_AAF_SSO_ISSUER'] = 'portail-parents';

// The public certificate of the authority that sign AAF SAML Response
$CONFIG['PARENTS_AAF_SSO_CERT'] =
'-----BEGIN CERTIFICATE-----
RXQgb2xpbSBsaWNldCBvdGlvc2FlIHNpbnQgdHJpYnVzIHBhY2F0YWVxdWUgY2VudHVyaWFlIGV0
IG51bGxhIHN1ZmZyYWdpb3J1bSBjZXJ0YW1pbmEgc2V0IFBvbXBpbGlhbmkgcmVkaWVyaXQgc2Vj
dXJpdGFzIHRlbXBvcmlzLCBwZXIgb21uZXMgdGFtZW4gcXVvdHF1b3Qgc3VudCBwYXJ0ZXMgdGVy
cmFydW0sIHV0IGRvbWluYSBzdXNjaXBpdHVyIGV0IHJlZ2luYSBldCB1YmlxdWUgcGF0cnVtIHJl
dmVyZW5kYSBjdW0gYXVjdG9yaXRhdGUgY2FuaXRpZXMgcG9wdWxpcXVlIFJvbWFuaSBub21lbiBj
aXJjdW1zcGVjdHVtIGV0IHZlcmVjdW5kdW0uDQoNCg==
-----END CERTIFICATE-----';


// Debugging

// DEBUG_LEVEL
// 1 = DEBUG = Most Verbose
// 2 = INFO  = ...
// 3 = WARN  = ...
// 4 = ERROR = ...
// 5 = FATAL = Least Verbose
// 6 = OFF   = No log
$CONFIG['DEBUG_LEVEL'] = 1; 

// The log file
$CONFIG['DEBUG_FILE'] = '/var/log/php-cas-server/sso.log';


// Redis server array
// Redis is the datastorage
// @param REDIS_SERVERS Array of servers. Each server is an array of (host, port).
// Thus, REDIS_SERVERS contains an array of arrays. It is looped over
// and each entry is as parameter to Rediska::addServer
// @param REDIS_ROOT String containing the base root for ALL Redis get/set operations
// related to ticket handling.

$CONFIG['REDIS_SERVERS'] = array(array('localhost', 6379));
$CONFIG['REDIS_ROOT'] = 'com.laclasse.v3dev.sso.tickets.';

//  Timeout in second for each kind of ticket
//  ST for ServiceTicket : Could be short too because it  is a one shot ticket that have to
//               be validated : 4 minutes for example
//  TGT for TicketGrantingTicket : Could be long : 8 hours for example

$CONFIG['ST_TIMOUT']  = 4*60;
$CONFIG['TGT_TIMOUT'] = 8*60*60;
$CONFIG['PT_TIMOUT'] = 4 * 60;
$CONFIG['PGT_TIMOUT'] = 4 * 60;

